.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
local.properties
.kotlin/
**/test-sandbox/

# Local source files
**/local.kt

# Android build outputs
app/android/release
app/android/debug

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.run/Preview*.xml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
