[submodule "torrent/anitorrent/libs/boost"]
	path = torrent/anitorrent/libs/boost
	url = https://github.com/open-ani/boost.git
	branch = main
[submodule "utils/xml/ksoup"]
	path = utils/xml/ksoup
	url = https://github.com/fleeksoft/ksoup.git
[submodule "app/shared/reorderable"]
	path = app/shared/reorderable
	url = https://github.com/open-ani/ComposeReorderable.git
